


<p><b> <%= link_to "#{item.name}", item_path(item) %> </b></p>
<p> <%= image_tag item.avatar.url(:medium), class: "responsive-img" %> </p>

<%= form_for order_item, remote: true do |f| %>
<h4 class="text-right"><span style="color: green"><%= number_to_currency item.price %></span></h4>
<div class="container">
  <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.submit "Add to Cart", class: "waves-effect waves-light btn" %>
</div>
<% end %>
