<h1>Items</h1>



  <% if @items.any? %>
    <% @items.each do |item| %>
    <div class="row">
      <div class="col s3 offset-s1">
      <p><b> <%= link_to "#{item.name}", item_path(item) %> </b></p>
      <p> <%= item.description %></p>
      <p> £<%= item.price %></p>
      <p> <%= image_tag item.avatar.url(:medium), class: "responsive-img" %> </p>
      </div>
    <% end %>

    <% else %>
      <h5>No items yet!</h5>
    <% end %>

</div>

<h1><%= link_to "Add a new Item", new_item_path, class: "waves-effect waves-light btn" %></h1>
