<div class="row">
  <h3><%= @item.name %></h3>


  <p><%= @item.description %></p>
  <p><%= image_tag(@image_url) %></p>

  <% if current_user.superadmin_role? %>
    <p><%= link_to "Edit Item", edit_item_path(@item), class: "waves-effect waves-light btn" %></p>
  <% end %>
  <h3><%= link_to "See all Items", items_path, class: "waves-effect waves-light btn" %></h3>


</div>
